<div class = "container">
<div class = "row">
<h2>Purpose:</h2>
<h4>This site was made for a final project for General Assembly's Web Development Immersive during the week of 8/18/14-9/24/14 by David Javate.  The purpose of the site is to create a habit maker for electronic music producers to get into the habit of making music.  Users choose a music creation related task then upload the result when they are finished. The User can then receive comment feedback from other users on their work.</h4>
</div>

<div class = "row">
<h2>Web technologies used:</h2>
<h4>Ruby on Rails<br>
Amazon Web Services S3 API<br>
Javascript<br>
jQuery<br>
Rspec<br>
Postgres<br></h4><br>
</div>

<div class = "row">
<h2>Project links:</h2>
<h4><a href="https://github.com/davidjavate/musicmaker">Github</a><br>
<a href="">Heroku</a></h4>
</div>
</div>


